.grid {
    width: 100%;
    display: block;
    padding: 0;
}

.grid.wide {
    max-width: 1200px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -4px;
    margin-right: -4px;
}
.row.col:first-child {
    padding-left: 0;
}
.row.col:last-child {
    padding-right: 0;
}
.row.no-gutters {
    margin-left: 0;
    margin-right: 0;
}

.col {
    padding-left: 15px;
    padding-right: 15px;
}

.row.no-gutters .col {
    padding-left: 0;
    padding-right: 0;
}

.c-0 {
    display: none;
}

.c-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
}

.c-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
}

.c-3 {
    flex: 0 0 25%;
    max-width: 25%;
}

.c-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
}

.c-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
}

.c-6 {
    flex: 0 0 50%;
    max-width: 50%;
}

.c-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
}

.c-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
}

.c-9 {
    flex: 0 0 75%;
    max-width: 75%;
}

.c-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
}

.c-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
}

.c-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

.c-o-1 {
    margin-left: 8.33333%;
}

.c-o-2 {
    margin-left: 16.66667%;
}

.c-o-3 {
    margin-left: 25%;
}

.c-o-4 {
    margin-left: 33.33333%;
}

.c-o-5 {
    margin-left: 41.66667%;
}

.c-o-6 {
    margin-left: 50%;
}

.c-o-7 {
    margin-left: 58.33333%;
}

.c-o-8 {
    margin-left: 66.66667%;
}

.c-o-9 {
    margin-left: 75%;
}

.c-o-10 {
    margin-left: 83.33333%;
}

.c-o-11 {
    margin-left: 91.66667%;
}



/* PC */
@media (min-width: 1201px)  {
    .row {
        margin-left: 0;
        margin-right: 0;
    }
    
}
/* tablet  */
@media (min-width: 1081px) and (max-width:1240px) {
    html {
        font-size: 95%;
    }
    .contact-form {
        background-position-x: 32%;
    }
    .contact-form__heading {
        margin-top: 6rem;
    }
    .contact-form__container {
        max-width: 350px;
    }
    .service-box__wrap {
        max-height: 160px;
    }
  
}
@media (max-width: 1120px) {

    .service-box__img {
        width: 3.5rem;
        height: 3.5rem;
    }
    .service-box__wrap {
        max-height: 180px;
    }
    .service-box__link {
        top: 85%;
    }
}


/* > PC low resolution */
@media (max-width: 1080px) {
    html {
        font-size: 85%;
    }
    .service-box__wrap {
        max-height: 150px;
    }
    .contact-form__heading {
        margin-top: 9rem;
    }
    .contact-form {
        background-position-x: 40%;
    }
    .contact-form__input {
        padding: 2rem 4.5rem;
    }
    .contact-form__heading {
        margin-top: 8rem;
    }
    .contact-form__container {
        max-width: 300px;
    }
}
