$pink-main-color: #E76F51;
$white-color: #ffff;
$white-menu-color: #D2D2D2;
$black-color: #000;
$gray-text-color: #8D8D8D;
$black-text-color: #3B3735;
$background-web: #faf4f2;
$background-second-web: #fae0d7;
$footer-pink: #F8E1DB;